.toppost1{
    position: relative;
    top: -90px;
    left:75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 310px; 
    height: 600px;
    cursor: pointer;
    opacity: 1;
}

a{
    text-decoration: none;
}

.tp1title{
    font-size: 25px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.tp1hr{
    margin-top: -10px;
    font-size: small;
    color: #F08080;
    opacity: 1;
    height: 50px;
}

.seafood{
    margin-top: -20px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 5px 10px #0000001A;
}

.foodinfo{
    display: flex;
    flex-direction: column;
    width: 310px;    
}

.fooddes{
    margin-top: 05px;
    text-align: left;
    font: normal normal normal 14px/16px Open Sans;
    letter-spacing: 0px;
    color: #908D8D;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis ;
    display: -webkit-box ;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.foodcatdate{
    display: flex;
    margin-top: 05px;
    margin-bottom: 10px;
    font-size: 10px;
}

.foodcat{
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}

.fooddate{
    letter-spacing: 0.85px;
    color: #404040;
    opacity: 0.6;
}


@media (max-width:800px)
{
    .toppost1{
        position: relative;
        top:20px;
        left: 20px;
    }
    
    .tp1hr{
        margin-top: 0px;
    }
}