.header{
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    height: 450px;
    margin-top: 20px;
}

.text{
    position:absolute;
    top: 70%;
}

.blogtitle{
    position: relative;
    top: -40px;
    left: 210px;
    font-size:40px ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.9;  
}

.blogcatdate{
    position: relative;
    top: -35px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 0.57;
    left: 220px;
}

.text1{
    position: absolute;
    top:150px;
}


.blogtitle1{
    position: relative;
    left:10px;
    font-size:15px ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 0.9;  
}

.blogcatdate1{
    position: relative;
    left: 10px;
    font-size: 10px;
    letter-spacing: 0px;
    color: #FCFCFC;
    opacity: 0.57;
}

.header1{
    width: 76%; 
    height: 100px;
    display: flex;
    margin-top:-20px ;
    margin-left: 170px;
    border-top: 1px solid gray;
    opacity: 1;   
    cursor: pointer;  
}

.header2{
    position: relative;
    left: 895px;
    top: -219px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    cursor: pointer;
}

.text2{
    position: absolute;
    top:350px;
} 


.blogtitle2{
   position: relative;
   left:10px;
   font-size:15px ;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 0.9;  
}

.blogcatdate2{

   position: relative;
   left: 10px;
   font-size: 10px;
   letter-spacing: 0px;
   color: #FCFCFC;
   opacity: 0.57;
}

.img1{
    margin-top: 30px;
    width: 70%;
    height: 410px;
    margin-right: 10px;
    box-shadow: 0px 5px 10px #0000001A;
}

.img2{
    margin-bottom: 10px;
    box-shadow: 0px 5px 10px #0000001A;
}



@media (max-width:800px)
{
    .header1{
        width: 100%;
        margin-left: 0px;
    }

    .img1{
        width: 375px;
        margin-top: 0px;
        box-shadow: 0px 5px 10px #0000001A;
    }

    .header2{
        display: none;
    }

    .text{
        position: absolute;
        left: 50px;
    }

    .blogtitle{
        position: absolute;
        top: -110px;
        left: 0px;
        font-size: 23px;
        width: 300px;
    }
    
    .blogcatdate{
        position: absolute;
        top: -80px;
        left: 0px;
        font-size: 16px;
        width: 200px;
    }   
}